<div container>
  <div class="jumbotron">
    <h1>Alpha Blog</h1>
    <p>...</p>
    <p align="center"><%= link_to 'Sign Up', '#', role: 'button', class: "btn btn-danger btn-lg btn-xlarge" %></p>
  </div>
</div>