<div class="container">
  <footer class="footer">
    <small>
      Copyring &copy; <a href="enter in a link here">Blah Blah Blah</a> by <a href="enter a link here">Jae Paek</a> 
    </small>
    
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>